version: "3.0"

services:
  hlds:
    build:
      context: .
      dockerfile: Dockerfile
    user: "1000:1000" # <- Change this to your UID:GID
    volumes:
      - ./config/cstrike:/server/hlds_l/cstrike 
      - ./config/cstrk11r:/server/hlds_l/cstrk11r
      - ./config/cstrk13:/server/hlds_l/cstrk13 
      - ./config/cstrk14:/server/hlds_l/cstrk14
      - ./config/dmc:/server/hlds_l/dmc 
      - ./config/tfc:/server/hlds_l/tfc
    ports:
      - 27015:27015
      - 27015:27015/udp
    command:
      - -port 27015 -game cstrike +map de_dust2 +maxplayers 16
    security_opt:
      - no-new-privileges:true